<div class="customer-account">
	<div class="hero-page py-5 bg-info">
		<div class="container">
			<h1 class="text-center text-white">Mi Cuenta - {{ customer.name }}</h1>
		</div><!--/.container-->
	</div><!--/.hero-page-->

	<div class="container">
		<div class="orders-account mt-5">
			<div class="row">
				<div class="col-md-9 table-responsive mb-5">
					<h4>Historial de órdenes</h4>
					{% paginate customer.orders by 5 %}
						{% if customer.orders.size > 0 %}
							<table class="table mt-3 table-striped table-hover">
								<thead>
									<tr>
										<th scope="col"># Orden</th>
										<th scope="col">Fecha</th>
										<th scope="col">Estado de pago</th>
										<th scope="col">Estado de preparación</th>
										<th scope="col">Total</th>
									</tr>
								</thead>
								<tbody>
									{% for order in customer.orders %}
										<tr>
											<th scope="row"><a href="{{ order.customer_url }}">#{{ order.order_number }}</a></th>
											<td>{{ order.created_at | date: '%b %d, %Y' }}</td>
											<td>{{ order.financial_status_label }}</td>
											<td>{{ order.fulfillment_status_label }}</td>
											<td>{{ order.total_price | money_with_currency }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
							<h6>No orders yet.</h6>
						{% endif %}
						{% render 'pagination' paginate: paginate %}
					{% endpaginate %}
				</div><!-- /col9 -->

				<div class="col-md-3">
					{% render 'mundofon-gt-account-details' %}
				</div><!-- /col3 -->
			</div><!-- /row -->
		</div><!-- /order-account -->
	</div><!-- /container -->
</div><!--/.customer-account-->

<div class="featured-banner-info my-5">
	<div class="container">
		<div class="featured-banner-wrapper p-4 p-md-5 bg-info">
			<div class="row">
			<div class="col-md-7 d-flex align-items-center">
				<div class="description mb-4 mb-md-0">
				<h2 class="text-white mb-4">Métodos de envío</h2>
				<a href="#0" class="btn btn-primary px-5 py-3">Más información</a>
				</div><!--/.description-->
			</div><!--/.col-->
			<div class="col-md-5 align-self-center">
				<div class="img">
				{{ 'envio.svg' | asset_url | img_tag: '','d-block w-100' }}
				</div><!-- /img -->
			</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /featured-banner-wrapper -->
	</div><!-- /container -->
</div><!--/.featured-banner-->