<div class="wrapper-blog-heading py-5 bg-info">
	<div class="container">
		<h1 class="text-center text-white">{{ blog.title }}</h1>
	</div><!--/.container-->
</div><!--/.wrapper-list-collection-->

{% paginate blog.articles by 2 %}
		<div class="wrapper-blog-articles my-5">
			<div class="container">
				<div class="row">
					{% for article in blog.articles %}
					<div class="col-md-6 col-lg-4 mb-4">
						<a href="{{ article.url }}">
							<div class="blog-article bg-primary">
								<div class="img">
									{{ article.image | img_url: 'master' | img_tag: '','' }}
								</div>
								<div class="description p-3">
									<div class="title mb-3"> <strong><h3 class="text-info">{{ article.title }}</h3></strong></div>
									<div class="excerpt w-100"><p>{{ article.excerpt_or_content | strip_html | truncatewords: 10, '...' }}</p></div>
								</div><!--/.description-->
							</div><!--/.blog-article-->
						</a>
					</div><!--/.col-->
					{% endfor %}
				</div><!--/.row-->

				{%- if paginate.pages > 1 -%}
				{%- render 'pagination', paginate: paginate -%}
				{%- endif -%}
			</div><!--/.container-->
	</div><!--/.wrapper-blog-articles-->
{%- endpaginate -%}
