<div class="hero-page py-5 bg-info">
	<div class="container">
		<h1 class="text-center text-white">Tu carrito</h1>
	</div><!--/.container-->
</div><!--/.hero-page-->

<div class="cart-container my-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form action="{{ routes.cart_url }}" method="post">
					<div class="row">
						<div class="col-12 table-responsive">
							<table class="table align-middle borderless">
								<thead>
									<tr class="text-center">
										<th scope="col-auto">#</th>
										<th scope="col-auto">Producto</th>
										<th scope="col-auto">Precio</th>
										<th scope="col-auto">Cantidad</th>
										<th scope="col-auto">Total</th>
										<th scope=""></th>
									</tr>
								</thead>
								<tbody>
									{% for item in cart.items %}
										<tr class="text-center py-5">
											<th scope="row">{{ forloop.index }}</th>
											<td>
												<div class="product" style="max-width: 100px;">
													{{ item.image | img_url: 'master' | img_tag: '','img_thumbnail me-3 w-100' }}
													<a href="{{ item.url }}">{{ item.title }}</a>
												</div>
											</td>
											<td>{{ item.final_price | money_with_currency }}</td>
											<td>
												<div class="input-group" style="max-width: 170px;">
													<button type="button" class="btn btn-secondary form-control btn-decrease">-</button>
													<input type="text" name="updates[]" value="{{ item.quantity }}" class="form-control input-group-text quantity">
													<button type="button" class="btn btn-secondary form-control btn-increase">+</button>
												</div>
											</td>
											<td>{{ item.final_line_price | money_with_currency }}</td>
											<td>
												<a href="{{ item.url_to_remove }}" class="text-danger delete-item"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg></a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div><!--/.col-->
						<div class="col-auto ms-auto">
							<div class="amout-container mt-5">
								<input type="submit" value="Actualizar Carrito" class="btn btn-primary px-4">
								<input type="submit" value="Pagar" name="checkout" class="btn btn-info text-white ms-3 px-4">
							</div>
						</div><!--/.col-->
					</div><!--/.row-->
				</form>
			</div><!--/.col-->
			<div class="col-md-4">
				<div class="resumen bg-primary p-4 h-100">
					<h3 class="text-center mb-4">Resumen de compra</h3>
					<div class="row">
						<div class="col-md-6"><p>Subtotal:</p></div>
						<div class="col-md-6 mb-3 d-block"><strong>{{ cart.total_price | money_with_currency }}</strong></div>
						<div class="col-md-6"><p>Total:</p></div>
						<div class="col-md-6 mb-3 d-block"><strong>{{ cart.total_price | money_with_currency }}</strong></div>
					</div>
				</div><!--/.-->
			</div><!--/.col-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.cart-container-->

<script>
	let btnsDecrease = document.querySelectorAll('.btn-decrease');
	let btnsIncrease = document.querySelectorAll('.btn-increase');
	let quantity = document.querySelectorAll('.quantity');

	for (let i = 0; i < btnsDecrease.length; i++) {
		let btnDecrease = btnsDecrease[i];

		btnDecrease.addEventListener('click', function() {
			if (btnDecrease.nextElementSibling.value > 1) {
				btnDecrease.nextElementSibling.value = parseInt(btnDecrease.nextElementSibling.value) - 1;
			}
		});
	}

	for (let i = 0; i < btnsIncrease.length; i++) {
		let btnIncrease = btnsIncrease[i];
		btnIncrease.addEventListener('click', function() {
			btnIncrease.previousElementSibling.value = parseInt(btnIncrease.previousElementSibling.value) + 1;
		});
	}
</script>