<div class="hero-page py-5 bg-info">
  <div class="container">
    <h1 class="text-center text-white">Tu carrito</h1>
  </div><!--/.container-->
</div><!--/.hero-page-->

<div class="cart-container mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <form action="{{ routes.cart_url }}" method="post">
          <div class="row">
            <div class="col-12">
              <table class="table table-striped table-hover align-middle mt-5">
                <thead>
                  <tr class="text-center">
                    <th scope="col-auto">#</th>
                    <th scope="col-auto">Product</th>
                    <th scope="col-auto">Price</th>
                    <th scope="col-auto">Quantity</th>
                    <th scope="col-auto">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart.items %}
                    <tr class="text-center py-5">
                      <th scope="row">{{ forloop.index }}</th>
                      <td>
                        <div class="product" style="max-width: 100px;">
                          {{ item.image | img_url: 'master' | img_tag: '','img_thumbnail me-3 w-100' }}
                          <a href="{{ item.url }}">{{ item.title }}</a>
                        </div>
                      </td>
                      <td>{{ item.final_price | money_with_currency }}</td>
                      <td>
                        <div class="input-group" style="max-width: 170px;">
                          <button type="button" class="btn btn-secondary form-control btn-decrease">-</button>
                          <input type="text" name="updates[]" value="{{ item.quantity }}" class="form-control input-group-text quantity">
                          <button type="button" class="btn btn-secondary form-control btn-increase">+</button>
                        </div>
                      </td>
                      <td>{{ item.final_line_price | money_with_currency }}</td>
                      <td>
                        <a href="{{ item.url_to_remove }}" class="text-danger">Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div><!--/.col-->
            <div class="col-auto ms-auto">
              <div class="amout-container mt-5">
                <input type="submit" value="Update Cart" class="btn btn-primary px-4">
                <input type="submit" value="Checkout" name="checkout" class="btn btn-info text-white ms-3 px-4">
              </div>
            </div><!--/.col-->
          </div><!--/.row-->
        </form>
      </div><!--/.col-->
      <div class="col-md-4">
        <div class="resumen bg-primary mt-5 p-4 h-100">
          <h3 class="text-center mb-4">Resumen de compra</h3>
          <p>Subtotal: <strong>{{ cart.total_price | money_with_currency }}</strong></p>
          
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.cart-container-->


{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-cart-items.settings.show_vendor.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
