<div class="featured-slider-section">
    <div class="container">
        {% if section.settings.section_arrows %}
            <div class="slider-btn-container">
                <button aria-label="Previous" class="slider-btn glider-prev">
                    <svg width="42" height="64" viewBox="0 0 42 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35 7L10 32L35 57" stroke="white" stroke-width="13" stroke-linecap="round"/>
                    </svg>
                </button>
                <button aria-label="Next" class="slider-btn glider-next">
                    <svg width="42" height="64" viewBox="0 0 42 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35 7L10 32L35 57" stroke="white" stroke-width="13" stroke-linecap="round"/>
                    </svg>
                </button>
            </div><!--/.button-slider-->
        {% endif %}
    </div><!--/.container-->

    <div id="heroFeaturedSlider" class="glider-featured-slider" data-sliderId="{{ section.id }}">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'slide' %}
                    <div class="item">
                        {% if block.settings.slide_image %}
                            {{ block.settings.slide_image | img_url: 'master' | img_tag: 'alt text', 'd-block w-100' }}
                        {% else %}
                            {{ 'form-bg.jpg' | asset_url | img_tag: '','d-block w-100' }}
                        {% endif %}
                        <div class="container">
                            <h1 style="color: {{ block.settings.color_heading }}; ">{{ block.settings.slide_heading }}</h1>
                        </div><!--/.container-->
                    </div><!-- /item -->
            {% endcase %}
        {% else %}
            {% for block in (1..3) %}
                <div class="item">
                    {{ 'slide1.jpg' | asset_url | img_tag: '','d-block w-100' }}
                    <div class="container">
                        <h1>Un mundo de Smartphones y consolas</h1>
                    </div><!--/.container-->
                </div><!--/.item-->
            {% endfor %}
        {% endfor %}
    </div><!--/.glider-featured-slider-->
</div><!-- /.featured-slider-section -->

{% schema %}
{
    "name": "Featured Slider",
    "tag": "section",
    "class": "mundofon-featured-slider",
    "settings": [
        {
            "type": "checkbox",
            "id": "section_arrows",
            "label": "Show Arrows?",
            "default": true
        }
    ],
    "blocks": [
        {
            "name": "Slide",
            "type": "slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "slide_image",
                    "label": "Slide Image"
                },
                {
                    "type": "text",
                    "id": "slide_heading",
                    "label": "Slide Heading",
                    "default": "Un mundo de Smartphones y consolas"
                },
                {
                    "type": "color",
                    "id": "color_heading",
                    "label": "Heading Color",
                    "default": "#000"
                }
            ]
        }
    ]
}
{% endschema %}
