<div class="container-collections">
    <div class="container">
        <div class="row">
            {% for block in section.blocks %}
                {% if block.type == "single_collection" %}
                    <div class="col-md-6">
                        <div class="single-collection">
                            <a href="{{ block.settings.featured_collection.url }}">
                                <div class="collection-img p-5">
                                    {{ block.settings.featured_collection.image | img_url: 'master' | img_tag: '','d-block w-100' }}
                                </div><!--/.collection-img-->
                                <div class="collection-title text-center pb-4">
                                    <h2>{{ block.settings.featured_collection.title }}</h2>
                                </div><!--/.collection-title-->
                            </a>
                        </div><!--/.single-collection-->
                    </div><!--/.col-->
                {% endif %}
            {% else %}
                <div class="col-md-6">
                    <div class="single-collection">
                        <a href="#0">
                            <div class="collection-img p-5">
                                {{ 'smartphones-collection.png' | asset_url | img_tag: '','d-block w-100' }}
                            </div>
                            <div class="collection-title text-center pb-4">
                                <h2>Smartphones</h2>
                            </div><!--/.collection-title-->
                        </a>
                    </div><!--/.single-collection-->
                </div><!--/.col-->
                <div class="col-md-6">
                    <div class="single-collection">
                        <a href="#0">
                            <div class="collection-img p-5">
                                {{ 'consolas-collection.png' | asset_url | img_tag: '','d-block w-100' }}
                            </div>
                            <div class="collection-title text-center pb-4">
                                <h2>Consolas</h2>
                            </div><!--/.collection-title-->
                        </a>
                    </div><!--/.single-collection-->
                </div><!--/.col-->
            {% endfor %}
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /.container-collections -->

{% schema %}
{
    "name": "Featured Collections",
    "tag": "section",
    "blocks": [
        {
            "name": "Collection",
            "type": "single_collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "featured_collection",
                    "label": "Selecciona una colección"
                }
            ]
        }
    ]
}
{% endschema %}